<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header-css">
    <title>UserMgr</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="fragments/header::header-body"/>

<div class="content-wrapper">
    <section th:replace="fragments/sitemap"/>

    <div class="container-fluid">
        <div id="grid"></div>
        <script>
            /*<![CDATA[*/
            $(function () {
                loadRoleList();
            });

            //初始化表格数据
            function loadRoleList(){
                kendo.culture("zh-CN");

                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "./role/readAllByPage"
                        },
                        create: {
                            url: "./role/addRole",
                            type: "post"
                        },
                        destroy: {
                            type: "post",
                            url: "./role/deleteRole",
                            dataType: "json"
                        },
                        update: {
                            type: "post",
                            url: "./role/updateRole",
                            dataType: "json"
                        }
                    },
                    serverPaging: true,    //设定服务器来实现分页功能
                    requestEnd: onRequestEnd,
                    pageSize: 5,
                    schema: {
                        model: {
                            id: "roleId",
                            fields: {
                                roleId:{type:"number",editable: false},
                                roleName:{type: "string"},
                                roleState:{type: "boolean"}
                            }
                        },
                        data: function (response) {
                            return JSON.parse(response).content;
                        },
                        total: function (response) {
                            return JSON.parse(response).total;
                        }
                    }
                });

                //dataSource是必填属性
                $("#grid").kendoGrid({
                    dataSource:dataSource,
                    height: 600,
                    //表示是否支持排序， boolean型
                    sortable: true,
                    // serverPaging: false,
                    // serverFiltering: false,
                    // serverSorting: false,
                    //filterable表示过滤，即能进行等于，不等于，包含，已开头等过滤操作，boolean型
                    filterable: true,
                    //表格标题
                    // groupable: true,
                    //表示是否有下拉条，boolean型
                    scrollable: true,
                    toolbar: [{name:"create",text:"新增"}],
                    pageable: {
                        //代表是否支持刷新
                        refresh: true,
                        //表示每页显示的记录数，默认为5,10,20
                        pageSizes: true,
                        //表示显示的页数，5表示1,2,3,4,5,
                        buttonCount: 5,
                        //表示是否可以输入数字
                        input: true
                    },
                    columns: [
                        {
                            field: "roleName",
                            title: "角色名"
                        }, {
                            field: "roleState",
                            title: "角色状态",
                            editor: customBoolEditor
                        }, {
                            command: [
                                {
                                    name:"edit",text: {edit:"编辑",cancel:"取消",update:"更新"}
                                }, {
                                    name:"destroy",text: "删除"
                                }],
                            title: "&nbsp;",
                            width: "250px"
                        }
                    ],
                    editable:{
                        mode:"popup",
                        window:{
                            title:"角色管理"
                        }
                    }
                });
            }

            //点击按钮更新表格,只适用于单条修改，直接修改数据库，不适用于批量修改
            function onRequestEnd(e) {
                if (e.type == "create") {
                    e.sender.read();
                }
                else if (e.type == "update") {
                    e.sender.read();
                }
                else if (e.type == "destroy") {
                    e.sender.read();
                }

                //更新成功后弹出提示信息
                var response = e.response;
                if(response){
                    var type = e.type;
                    if(type !='read'){
                        var status = response.status;
                        if(status == 200){
                            //lert(response.message);
                            this.read();
                        } else {
                            alert(response.msg);
                        }
                    }
                }
                // else{
                //     alert("服务器异常，请重试！");
                // }
            }


            //编辑时boolean类型复选框样式修改
            function customBoolEditor(container, options) {
                var guid = kendo.guid();
                $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="roleState" data-type="boolean" data-bind="checked:roleState">').appendTo(container);
                $('<label class="k-checkbox-label" for="' + guid + '">&#8203;</label>').appendTo(container);
            }
            /*]]>*/
        </script>
    </div>
</div>
<!-- /.container -->

<footer th:replace="fragments/footer::footer"/>

<aside th:replace="fragments/menu"/>
</body>
</html>